# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data sciecntists uses are:
1. Python
2. R
3. SQL
4. Scala

Some of the commonly used libraries used by Data Scientist include:
1. Scientific computing Libraries
2. Visualization Libraries 
3. Deep Learning Libraries
4. High-Level Machine Learning and Deep Learning

**Objectives**
- List popular Languages used in Data Science
- Some of the commonly used libraries by Data Scientist
- A table of Data Science Tools

|Data Science Tools
|----------------------
| TensorFlow
| Matplotlib
| Pandas

### Below are a few examples of evaluating aritmethic expressions in python

In [2]:
#This is a simple arithmetic expression to multiply then add integer. 

example = (3*4)+5

print(example)

17

In [3]:
#This will convert 200 minutes to hours by diving by 60.

example= 200 / 60

print (example)

3.3333333333333335

## Author
Udeh Michael Ikechukwu